*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}




.all-container{
    width: 100vw;
    height: 100vh;
    position: relative;
    
}
.fascia-verde{
    width: 100vw;
    height: 12vh;
    background-color: rgb(18, 118, 68);
}
.fascia-bianca{
    width: 100vw;
    height: 88vh;
    background-color: gainsboro;
}
.container-info{
    width: 80vw;
    height: 95vh;
    position: absolute;
    top:25px;
    left:10%;
    background-color: white;
    display: flex;
}
.side-bar{
    background-color: aqua;
    height: 100%;
}
.main-content{
    background-color: black;
    height: 100%;
}
.personal-account{
    height: 50px;
    background-color: white;
}
.notifiche-banner{
    height: 70px;
    background-color: bisque;
}
.richerca-chat{
    height: 30px;
    background-color: blue;
}
.chat-container{
    height: 84.1%;
    background-color: brown;
}
.chat-item{
    height: 70px;
    background-color: white;
    display: flex;
}

